
/* Media-breakpoints */
@media (max-width:1300px) {
    .hidden-max{
        display: none !important;
    }
}
@media(max-width: 1200px) {
    .wonders {
        background: #324851;
        &__block {
            display: flex !important;
            flex-direction: column !important;

        }
    
        &__image {
            padding: 10px 0;
            margin: 0 auto;
            max-width: 70% !important ;
            & img{
                margin: 30px 0 !important;
                &:first-child{
                    margin-bottom: 0px !important;
                }
            }
        }
    
        &__text {
            color: #86AC41;
            // @extend %paragraphs;
            padding: 5px 30px;
            text-align: center;
            & p{
                margin-bottom: 0px;
                text-indent: 5px;
                &:not(:last-child){
                    margin-bottom: 0.8rem !important;
                }
            }
        }
        
        &__title {
            & h3{
                font-size: .95em !important;

            }
        }
        
        &__about {
        }
    }

    .hidden-xxl{
        display: none;
    }
}
@media (min-width: 1140px) {
    .footer{
        font-size: 20px;
    }

}
@media (min-width: 992px){
  .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
    }   
    .col-lg-6{
        flex: 1 0 49%;
    }
    .footer{
        font-size: 18px;
    }
    .unhidden-lg{
        display: none;
    }
    .peoples {
        & h4, h5{
            padding-left: 20px;
            font-size: 20px;
            font-weight: 800;
        }
        & h3{
            font-weight: 800;
            color: #86AC41;
            font-size: 26px;
           }
        & ul, li{
            font-size: 17px;
    line-height: 1.5;
    font-family: Mulish;
    font-weight: 600;
        }
        &__block {
            overflow: hidden;
            position: relative;
            background: #324851;
        }
    
        &__images {
            max-height: 800px;
            display: grid;
            grid-template: repeat(2, 50%)/ repeat(2, 50%);
        }
    
        &__images-block {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10;
            transition: all 1s ease-in 0s;
            & img{
                position: relative;
                display: block;
                width: 100%;
                height:  auto;
            height: 100%;
                // object-fit: cover;
            }
        }
        &__images-block-full{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10;
            transition: all 1s ease-in 0s;
        }
        &__btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
            border-radius: 5px;
            color: #EAF9F9;
            background: #324851;
            padding: 1.2em ;
            transition: all 1s linear 0s;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            &:hover{
                color: #86AC41;
                
            }
        }
        
        &__info {
            position: absolute;
            top: 0;
            left: 0;
            color: #86AC41;
        }
        
        &__title {
    
        }
        
        &__about {
            
        }
    }
    .btn-close{
        position: absolute;
        z-index: 9;
        top: 10px;
        right: 10px;
        cursor: pointer !important;
        transition: opacity 1s ease-in 0s, translate 1s ease-in 0s, 
        transform .5s ease 0s;
        
       background: transparent url("../img/closeBtn.png")center/ 1.5em auto no-repeat !important;
       color: #34675C;
       &:hover{
           transform: rotate(135deg);
       }
    }
}
@media (max-width: 991px) {
    .navbar-nav{
        padding-left: 10px;
    }
        .footer{
        font-size: 18px !important;
    }
    .hidden-lg{
        display: none !important;
    }
    .col-12{
        height: 100%;
    }
    .history {
        background-color: #324851;
        color: #86AC41;
        font-size: 16px !important;
        line-height: 1.4;
    }
    .zoos__info  {
        & blockquote{
            display: none !important;
        }
    }
    p{
        font-size: 16px !important;
        line-height: 1.4; 
        text-indent: 15px !important;
    }
    & h2{
        margin-bottom: 15px !important;
        font-size: 25px !important;
    }
    & h4, h5{
        padding-left: 15px !important;
        font-size: 18px !important;
        font-weight: 800;
    }
    .peoples {
        & h4, h5{
            padding-left: 20px;
            font-size: 20px;
            font-weight: 800;
        }
        & h3{
            font-weight: 800;
            color: #86AC41;
            font-size: 26px;
           }
        & ul, li{
           
        }
        &__block {
            overflow: hidden;
            // position: relative;
            background: #324851;
            
        }
    
        &__images { 
            &-lg{
                display: flex;
                justify-content: center;
                column-gap: 15px;
                min-height: 150px;

            }
        }
    
        &__images-block {
            position: relative;
            display: flex;
            justify-content: center;
            z-index: 10;
            padding: 0 10px;
            flex: 0 1 50%;
            & img{
                position: relative;
                display: block;
                max-width: 100%;
                height:  auto;
                object-fit: cover;

            }
        }
        
        }
        
        &__info {
         position: relative !important;
        }
    }


@media (max-width: 576px) {
    .hidden-sm{
        display: none !important;
    }
    .about{
        &__my-card{
            & p{
                font-size: 14px !important;
                line-height: 1.3;
            }
        }
    }
    .history{
        background-color: #324851;
        color: #86AC41;
        font-size: 15px !important;
        line-height: 1.4;
    }
    p{
        font-size: 15px !important;
        line-height: 1.4;
        text-indent: 10px !important;
    }
    & h2{
        margin-bottom: 30px !important;
        font-size: 24px !important;
    }
    h4, h5{
        padding-left: 10px !important;
        font-size: 18px !important;
        font-weight: 800;
    }
}
@media (min-width:576px) {
    
}